<template>
    <section>
        <div class="col-12 p-0">
            <b-navbar type="dark" variant="dark">
                <h1 class="p-3 text-white">Electronic</h1>
                <b-navbar-nav>
                    <b-link v-b-toggle.sidebar-border class="btn btn-link text-white">
                        <b-icon icon="justify" class="menuIcon"></b-icon>
                    </b-link>
                </b-navbar-nav>

<!--                <b-navbar-nav class="ml-auto">-->
<!--                    <div class="col-5">-->
<!--                        <font-awesome-icon class="text-white m-2 menuItem fa-2x" icon="bell"/><b-badge variant="danger" class="notCount rounded-circle">1</b-badge>-->
<!--                    </div>-->
<!--                    <div class="col-5">-->
<!--                        <font-awesome-icon class="text-white m-2 menuItem fa-2x" icon="envelope"/><b-badge variant="danger" class="notCount rounded-circle">2</b-badge>-->
<!--                    </div>-->
<!--                </b-navbar-nav>-->
            </b-navbar>
        </div>
        <div>
            <b-sidebar id="sidebar-border" title="Electronic" visible sidebar-class="border-right"
                       bg-variant="dark" text-variant="light" v-slot:default="{ hide }">
                <div @mouseleave="hide" class="menuBar">
                    <div class="col-12 p-0">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link" v-bind:class="{active: !index}" v-for="(item,index) in menuList"
                               id="v-pills-home-tab" data-toggle="pill" :href="'#'+item.tab" role="tab"
                               @click="hide" aria-controls="v-pills-home" aria-selected="true">
                                <font-awesome-icon :icon="item.icon"/>
                                {{ item.title }}</a>
                        </div>
                    </div>
                </div>
            </b-sidebar>
        </div>

        <div class="col-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane active fade show" id="dashboard" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <dashboard class="mt-5"></dashboard>
                </div>
                <div class="tab-pane fade show" id="categories" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <categories class="mt-5"></categories>
                </div>
                <div class="tab-pane fade show" id="devices" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <devices class="mt-5"></devices>
                </div>
                <div class="tab-pane fade show" id="services" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <services class="mt-5"></services>
                </div>
                <div class="tab-pane fade show" id="orders" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <orders class="mt-5"></orders>
                </div>
                <div class="tab-pane fade show" id="slider" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <banner class="mt-5"></banner>
                </div>
                <div class="tab-pane fade show" id="settings" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <settings class="mt-5"></settings>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Dashboard from "../../components/Admin/Dashboard";
    import Categories from "../../components/Admin/Categories";
    import Devices from "../../components/Admin/Devices";
    import Services from "../../components/Admin/Services";
    import Banner from "../../components/Admin/Slider";
    import Orders from "../../components/Admin/Orders";
    import Settings from "../../components/Admin/Settings";

    export default {
        name: "Home",
        components: {Settings, Orders, Banner, Services, Devices, Categories, Dashboard},
        data() {
            return {
                menuList: [
                    {title: 'Dash Board', tab: 'dashboard', icon: "chart-bar"},
                    {title: 'Categories', tab: 'categories', icon: "laptop-house"},
                    {title: 'Devices', tab: 'devices', icon: "desktop"},
                    {title: 'Services', tab: 'services', icon: "laptop-medical"},
                    {title: 'Orders', tab: 'orders', icon: "hand-holding-usd"},
                    {title: 'Slider', tab: 'slider', icon: "sliders-h"},
                    {title: 'Settings', tab: 'settings', icon: "cogs"},
                ]
            }
        }
    }
</script>

<style scoped>
    .menuBar {
        height: 100% !important;
    }

    .nav-link {
        color: gray;
        font-size: 25px;
    }

    .nav-link.active {
        background-color: gray;
    }

    .menuIcon {
        font-size: 25px !important;
    }
    .notCount{
        position: absolute;
        top: 1px;
        right: 0;
    }
</style>
