<template>
    <div class="content">
        <div class='login' v-bind:class="classes">
            <div class='login_title'>
                <span>Login to your account</span>
            </div>
            <div class='login_fields'>
                <div class='login_fields__user'>
                    <div class='icon'>
                        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
                    </div>
                    <input placeholder='Username' v-model="admin.username" type='text'>
                    <div class='validation'>
                        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                    </div>
                </div>
                <div class='login_fields__password'>
                    <div class='icon'>
                        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
                    </div>
                    <input placeholder='Password' v-model="admin.password" type='password'>
                    <div class='validation'>
                        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                    </div>
                </div>
                <div class='login_fields__submit'>
                    <input type='submit' @click="login" value='Log In'>
                    <div class='forgot'>
                        <a href='#'>Forgotten password?</a>
                    </div>
                </div>
            </div>
            <div class='disclaimer'>
                <p>PLease write a correct username and password, because after 3 false login account will be blocked.</p>
            </div>
        </div>
        <div class='authent' v-if="authent||tokenInp">
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'  v-if="authent">
            <b-form-group label="Token" class="mb-2 mr-sm-2 mb-sm-0 p-0 col-12 d-inline-block" v-if="tokenInp">
                <b-input id="token" v-model="token"  placeholder="Enter your Token"></b-input>
                <button class="btn btn-success" @click="auth(token)">Send Token</button>
            </b-form-group>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AdminLogin",
        data() {
            return {
                loading: false,
                classes:'',
                authent:false,
                tokenInp: false,
                token:'',
                admin:{
                    username: '',
                    password: '',
                }
            }
        },
        methods: {
            authentication(){
                let _this = this;
                _this.classes += ' test';
                _this.classes += ' testtwo';
                _this.authent = true;
            },

            login() {
                this.authentication();
                axios.post('/api/login' , this.admin).then((response) => {

                    let variant = 'danger';
                    if (response.data.auth){
                        variant = 'success';
                        this.authent = false;
                        this.tokenInp = true;
                    }else{
                        this.authent = false;
                        this.classes = '';
                    }

                    this.$bvToast.toast(response.data.message, {
                        title: 'Administrator Authentication',
                        autoHideDelay: 5000,
                        variant: variant,
                    })

                });

            },

            auth(token){
                axios.post('/api/authentication' , {token:token}).then(response => {
                    let variant = 'danger';

                    if (response.data.auth){
                        let d = new Date();
                        d.setTime(d.getTime() + (60 * 24 * 60 * 60 * 1000));
                        document.cookie = 'token=dsafdsfasdfdsafsadf;expires='+d.toUTCString()+';';
                        localStorage.setItem('user' , response.data.user);

                        variant = 'success';
                    }

                    this.$bvToast.toast(response.data.message, {
                        title: 'Administrator Authentication',
                        autoHideDelay: 5000,
                        variant: variant,
                    });

                    this.$router.push({name:'admin.dashboard'});

                });
            }

        },
        created() {


        },
    }
</script>

<style scoped>
    .content {
        -webkit-perspective: 800px;
        perspective: 800px;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        font-family: 'Gudea', sans-serif;
        background: #EA5C54;
        /* Old browsers */
        /* FF3.6+ */
        /* Chrome,Safari4+ */
        /* Chrome10+,Safari5.1+ */
        /* Opera 11.10+ */
        /* IE10+ */
        background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA5C54 ', endColorstr='#bb6dec', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }

    body ::-webkit-input-placeholder {
        color: #4E546D;
    }

    .authent {
        position: absolute;
        top: 0;
        width: max-content;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: block;
        text-align: center;
        height: max-content;
        color: white;
        font-family: 'Gudea', sans-serif;
        background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
        padding: 10px;
        border-radius: 5px;
    }

    .authent p {
        text-align: center;
        color: white;
        font-size: 15px;
    }

    body .success {
        display: none;
        color: #d5d8e2;
    }

    body .success p {
        font-size: 14px;
    }

    body p {
        color: #5B5E6F;
        font-size: 10px;
        text-align: left;
    }

    body .testtwo {
        left: -320px !important;
    }

    body .test {
        box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
        pointer-events: none;
        top: -100px !important;
        -webkit-transform: rotateX(70deg) scale(0.8) !important;
        transform: rotateX(70deg) scale(0.8) !important;
        opacity: .6 !important;
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }

    body .login {
        opacity: 1;
        top: 20px;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
        transition-property: transform, opacity, box-shadow, top, left;
        transition-duration: .5s;
        transform-origin: 161px 100%;
        transform: rotateX(0deg);
        width: 450px;
        height: 500px;
        border-top: 2px solid #D8312A;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        text-align: center;
        padding: 80px 25px 25px;
        background: #35394a;
        background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    }

    body .login .validation {
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 6px;
        opacity: 0;
    }

    body .login .disclaimer {
        position: absolute;
        bottom: 20px;
        left: 35px;
        width: 250px;
    }

    body .login_title {
        color: #afb1be;
        height: 50px;
        text-align: center;
        font-size: 16px;
    }

    body .login_fields .icon {
        position: absolute;
        z-index: 1;
        left: 36px;
        top: 8px;
        opacity: .5;
    }

    body .login_fields input[type='password'] {
        color: #DC6180 !important;
    }

    body .login_fields input[type='text'], body .login_fields input[type='password'] {
        color: #afb1be;
        width: 100%;
        margin-top: -2px;
        background: #32364a;
        left: 0;
        padding: 10px 65px;
        border-top: 2px solid #393d52;
        border-bottom: 2px solid #393d52;
        border-right: none;
        border-left: none;
        outline: none;
        font-family: 'Gudea', sans-serif;
        box-shadow: none;
    }

    body .login_fields__user, body .login_fields__password {
        position: relative;
    }

    body .login_fields__submit {
        position: relative;
        top: 35px;
        left: 0;
        width: 80%;
        right: 0;
        margin: auto;
    }

    body .login_fields__submit .forgot {
        float: right;
        font-size: 10px;
        margin-top: 11px;
        text-decoration: underline;
    }

    body .login_fields__submit .forgot a {
        color: #606479;
    }

    body .login_fields__submit input {
        border-radius: 50px;
        background: transparent;
        padding: 10px 50px;
        display: inline;
        border: 2px solid #DC6180;
        color: #DC6180;
        text-transform: uppercase;
        font-size: 11px;
        width: 100%;
        transition-property: background, color;
        transition-duration: .2s;
    }

    body .login_fields__submit input:focus {
        box-shadow: none;
        outline: none;
    }

    body .login_fields__submit input:hover {
        color: white;
        background: #DC6180;
        cursor: pointer;
        -webkit-transition-property: background, color;
        transition-property: background, color;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
    }

    /* Color Schemes */
    .love {
        position: absolute;
        right: 20px;
        bottom: 0px;
        font-size: 11px;
        font-weight: normal;
    }

    .love p {
        color: white;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    .love a {
        color: white;
        font-weight: 700;
        text-decoration: none;
    }

    .love img {
        position: relative;
        top: 3px;
        margin: 0px 4px;
        width: 10px;
    }

    .brand {
        position: absolute;
        left: 20px;
        bottom: 14px;
    }

    .brand img {
        width: 30px;
    }


</style>
