<template>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col class="text-right">
                <b-button :variant="addNew ? 'danger' : 'success'" @click="addNew = !addNew">
                    <font-awesome-icon v-bind:icon="addNew ? 'times' : 'plus'"></font-awesome-icon>
                    <span>{{ addNew ? ' Cancel' : ' Add New Category' }}</span>
                </b-button>
            </b-col>
        </b-row>
        <div v-if="!addNew">
            <b-row>
                <b-col lg="6" class="my-1">
                    <b-form-group
                        label="Filter"
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        label-for="filterInput"
                        class="mb-0"
                    >
                        <b-input-group size="sm">
                            <b-form-input
                                v-model="filter"
                                type="search"
                                id="filterInput"
                                placeholder="Type to Search"
                            ></b-form-input>
                        </b-input-group>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        class="mb-0">
                        <b-form-checkbox-group v-model="filterOn" class="mt-1">
                            <b-form-checkbox value="name_en">Name In English</b-form-checkbox>
                            <b-form-checkbox value="count">Items</b-form-checkbox>
                            <b-form-checkbox value="created_at">Date</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>
            </b-row>
            <!-- Main table element -->
            <b-table
                class="mt-5"
                show-empty
                small
                stacked="md"
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :filterIncludedFields="filterOn"
                :sort-desc.sync="sortDesc"
                @filtered="onFiltered"
                table-variant="dark"
            >
                <template v-slot:cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                </template>

                <template v-slot:cell(actions)="row">
                        <button class="btn btn-dark" @click="deleteCollection(row.item.id)"><font-awesome-icon icon="trash" class="text-danger"></font-awesome-icon></button>
                </template>

            </b-table>
            <b-row>
                <b-col sm="7" md="6" class="m-auto my-1">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        v-if="totalRows > perPage"
                    ></b-pagination>
                </b-col>
            </b-row>
        </div>

        <b-row v-else class="text-center m-auto p-2">


            <image-upload :image="newCollection.image" :file="'fileCategories'"></image-upload>
            <input type="file" id="fileCategories"  hidden @change="onImageChange">

            <div class="text-center p-2 col-7">
                <label for="category_name_am">Category Name </label><img class="ml-2"
                                                                         src="https://www.countryflags.io/am/flat/16.png">
                <b-input-group class="mb-2 mr-sm-2 mb-sm-0 col-12 p-0">
                    <b-input id="category_name_am" placeholder="Category Name Armenian"
                             v-model="newCollection.name_am"></b-input>
                </b-input-group>

                <label for="category_name_ru">Category Name </label><img class="ml-2"
                                                                         src="https://www.countryflags.io/ru/flat/16.png">
                <b-form-group class="mb-2 mr-sm-2 mb-sm-0 col-12 p-0">
                    <b-input id="category_name_ru" placeholder="Category Name Russian"
                             v-model="newCollection.name_ru"></b-input>
                </b-form-group>

                <label for="category_name_en">Category Name </label><img class="ml-2"
                                                                         src="https://www.countryflags.io/gb/flat/16.png">
                <b-form-group class="mb-2 mr-sm-2 mb-sm-0 col-12 p-0">
                    <b-input id="category_name_en" placeholder="Category Name English"
                             v-model="newCollection.name_en"></b-input>
                </b-form-group>




                <b-button variant="success" class="col-12 mt-3" @click="uploadImage">
                    <font-awesome-icon icon="plus"></font-awesome-icon>
                    Add
                </b-button>
            </div>
        </b-row>
    </b-container>
</template>

<script>
    import moment from 'moment'
    import ImageUpload from "./Forms/ImageUpload";

    export default {
        name: "Categories",
        components: {ImageUpload},
        data() {
            return {
                uploaded : null,
                newCollection: {
                    name_am: '',
                    name_ru: '',
                    name_en: '',
                    image: '/images/default-upload.gif',
                },
                edit:{
                    items:{}
                },
                addNew: false,
                items: [],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                sortDesc: false,
                filter: null,
                filterOn: [],
                fields: [
                    {key: 'name_am', label: 'Name in Armenian', sortable: true},
                    {key: 'name_ru', label: 'Name in Russian', sortable: true},
                    {key: 'name_en', label: 'Name in English', sortable: true},
                    {key: 'count', label: 'Items', sortable: true, sortDirection: 'asc'},
                    {
                        key: 'created_at',
                        label: 'Added',
                        formatter: (value, key, item) => {
                            return moment(value).format('DD MMM YYYY')
                        },
                        sortable: true,
                    },
                    {key: 'actions', label: 'Actions'}
                ]
            }
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        mounted() {
            // Set the initial number of items
            this.totalRows = this.items.length
        },
        methods: {
            resetInfoModal() {
                this.infoModal.title = ''
                this.infoModal.content = ''
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            getCollections() {
                axios.post('/api/collectionList')
                    .then((response) => {
                        this.items = response.data.collections;
                        this.totalRows = this.items.length;
                    })
            },
            uploadImage(){
                const data = new FormData();
                data.append('image', this.uploaded);
                data.append('name', this.newCollection.name_en);
                data.append('path', 'images/categories');

                axios.post('/api/image/store',data).then(response => {
                    this.newCollection.image = response.data.image;
                    this.addCollection();
                }).catch((error) => {
                    this.$bvToast.toast('Please check data of image.', {
                        title: 'Image is incorrect format.',
                        autoHideDelay: 5000,
                        variant: 'danger',
                    })
                });
            },
            addCollection() {
                let message = '';
                let variant = '';
                axios.post('/api/addCollection', this.newCollection)
                    .then((response) => {
                        this.items = response.data.collections;
                        this.totalRows = this.items.length;
                        this.newCollection = {
                            name_en: '',
                            name_ru: '',
                            name_am: '',
                            image: '/images/default-upload.gif'
                        };
                        variant = 'success';
                        message = "New Collection is added";
                        this.$bvToast.toast(message, {
                            title: 'New Category',
                            autoHideDelay: 5000,
                            variant:variant,
                        })

                    }).catch(() => {
                        message = 'Something is wrong please check fields';
                        variant = 'danger';
                        this.$bvToast.toast(message, {
                            title: 'New Category adding Failed',
                            autoHideDelay: 5000,
                            variant: variant,
                        })
                })
            },
            deleteCollection(id){
                axios.post('/api/removeCollection', {id:id}).then((response) => {
                    this.$bvToast.toast(response.data.message.body, {
                        title: response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'success',
                    });
                    this.getCollections();
                }).catch((error) => {
                    this.$bvToast.toast(error.response.data.message.body, {
                        title: error.response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'danger',
                    })
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.newCollection.image = e.target.result;
                };
                reader.readAsDataURL(file);
                this.uploaded  = file;
            },
        },
        created() {
            this.getCollections();
        }
    }
</script>
<style scoped>

</style>
