<template>
    <div class="container-fluid mt-5">
        <div class="col-10 m-auto ">
            <div class="form-inline">
                <b-card
                    :title="title"
                    title-tag="h5"
                    tag="article"
                    :bg-variant="bars[key].variant"
                    text-variant="white"
                    class="col-2 m-auto text-center text-capitalize"
                    v-for="(item,title,key) in items"
                    v-bind:key="key"
                >
                    <h1> {{ item.count }}</h1>
                    <font-awesome-icon class="fa-2x" :icon="item.icon"/>
                </b-card>
            </div>

            <div class="row mt-5">
                <div v-for="(item,title,index) in mount_count" v-bind:key="index" class="col-2 m-auto">
                    <h3 class="col-sm-2 text-capitalize">{{ title }}:</h3>
                    <b-list-group v-for="(i,index) in item" v-bind:key="index">
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <span class="font-weight-bolder">{{ changeFormat(i.created_at) }}:</span>
                            <b-badge :variant="bars[index].variant" pill>{{ i.count }}</b-badge>
                        </b-list-group-item>
                    </b-list-group>
                    <b-list-group-item v-if="!item.length" variant="danger">No have any data</b-list-group-item>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "Dashboard",
        data() {
            return {
                bars: [
                    {variant: 'success', value: 75},
                    {variant: 'primary', value: 75},
                    {variant: 'warning', value: 75},
                    {variant: 'secondary', value: 75},
                    {variant: 'danger', value: 75},
                ],
                timer: null,
                items:[],
                mount_count:[]
            }
        },
        methods:{
            dashboard(){
                axios.post('/api/dashboardData').then((response)=>{
                   this.items = response.data.data;
                   this.mount_count = response.data.count_mounts;
                });
            },

            changeFormat(date){
                return moment(date).format('MMM YYYY');
            }
        },
        mounted() {
            this.dashboard();
        },
    }
</script>

<style scoped>

</style>
