<template>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col class="text-right">
                <b-button :variant="addNew ? 'danger' : 'success'" @click="addNew = !addNew">
                    <font-awesome-icon v-bind:icon="addNew ? 'times' : 'plus'"></font-awesome-icon>
                    <span>{{ addNew ? ' Cancel' : ' Add New Device' }}</span>
                </b-button>
            </b-col>
        </b-row>
        <div v-if="!addNew">
            <b-row>
                <b-col lg="6" class="my-1">
                    <b-form-group
                        label="Filter"
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        label-for="filterInput"
                        class="mb-0"
                    >
                        <b-input-group size="sm">
                            <b-form-input
                                v-model="filter"
                                type="search"
                                id="filterInput"
                                placeholder="Type to Search"
                            ></b-form-input>
                        </b-input-group>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        class="mb-0">
                        <b-form-checkbox-group v-model="filterOn" class="mt-1">
                            <b-form-checkbox value="brand">Brand</b-form-checkbox>
                            <b-form-checkbox value="model">Model</b-form-checkbox>
                            <b-form-checkbox value="category">Category</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>
            </b-row>
            <!-- Main table element -->
            <b-table
                class="mt-5"
                show-empty
                small
                stacked="md"
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :filterIncludedFields="filterOn"
                :sort-desc.sync="sortDesc"
                @filtered="onFiltered"
                table-variant="dark"
            >
                <template v-slot:cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                </template>

                <template v-slot:cell(actions)="row">
<!--                    <b-button size="sm" @click="row.toggleDetails">-->
<!--                        {{ row.detailsShowing ? 'Hide' : 'Show' }} Details-->
<!--                    </b-button>-->
                        <b-button variant="dark" @click="removeDevice(row.item.id)"><font-awesome-icon icon="trash"></font-awesome-icon></b-button>
                </template>

                <template v-slot:row-details="row">
                    <b-card>
                        <ul>
                            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                        </ul>
                    </b-card>
                </template>
            </b-table>
            <b-row>
                <b-col sm="7" md="6" class="m-auto my-1">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        v-if="totalRows > perPage"
                    ></b-pagination>
                </b-col>
            </b-row>
        </div>

        <add-device v-else></add-device>

    </b-container>
</template>

<script>
    import moment from 'moment';
    import AddDevice from "./Forms/AddDevice";

    export default {
        name: "Devices",
        components: {AddDevice},
        data() {
            return {
                addNew: false,
                items: [],
                fields: [
                    {key: 'brand', label: 'Brand', sortable: true},
                    {key: 'model', label: 'Model', sortable: true},
                    {key: 'name_am', label: 'Category', sortable: true},
                    {key: 'in_stock', label: 'In Stock', sortable: true},
                    {key: 'made', label: 'Made', sortable: true},
                    {key: 'new_price', label: 'New Price', sortable: true},
                    {key: 'old_price', label: 'Old Price', sortable: true},
                    {key: 'percent', label: 'Discount', sortable: true},
                    {
                        key: 'created_at',
                        label: 'added',
                        formatter: (value, key, item) => {
                            return moment(value).format('DD MMM YYYY')
                        },
                        sortable: true,
                        sortByFormatted: true,
                        filterByFormatted: true,
                        sortDirection: 'asc'
                    },
                    {key: 'actions', label: 'Actions'}
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                sortDesc: false,
                filter: null,
                filterOn: []
            }
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        mounted() {
            // Set the initial number of items
            this.totalRows = this.items.length
        },
        methods: {
            resetInfoModal() {
                this.infoModal.title = ''
                this.infoModal.content = ''
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            getDeviceList() {
                axios.post('/api/deviceListAll').then((response) => {
                    response.data.devices.forEach(device => {
                        if (!device.in_stock) {
                            device._cellVariants = {in_stock: 'danger'};
                        }
                        if (device.old_price) {
                            device.percent = parseInt((device.new_price * 100) / device.old_price) + '%';
                            device._cellVariants = {percent: 'danger'};
                        }
                        this.items.push(device);
                    });
                    this.totalRows = this.items.length;
                });
            },
            removeDevice(id){
                axios.post('/api/removeDevice' , {id:id}).then((response) => {
                        this.$bvToast.toast(response.data.message.body, {
                            title: response.data.message.title,
                            autoHideDelay: 5000,
                            variant: 'success',
                        });
                        this.getCollections();
                    }).catch((error) => {
                        this.$bvToast.toast(error.response.data.message.body, {
                            title: error.response.data.message.title,
                            autoHideDelay: 5000,
                            variant: 'danger',
                        })
                });
            }
        },
        created() {
            this.getDeviceList();
            this.$root.$on('getDetails' , function () {
                this.getDeviceList();
            });
            this.$root.$on('addedDevices' , response => {
                response.data.devices.forEach(device => {
                    if (!device.in_stock) {
                        device._cellVariants = {in_stock: 'danger'};
                    }
                    if (device.old_price) {
                        device.percent = parseInt(((price-new_price)*100)/price) + "% OFF";
                        device._cellVariants = {percent: 'danger'};
                    }
                    this.items.push(device);
                });
                this.totalRows = this.items.length;
            });
        }
    }
</script>
<style scoped>

</style>
