<template>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col lg="6" class="my-1">
                <b-form-group
                    label="Filter"
                    label-cols-sm="3"
                    label-align-sm="right"
                    label-size="sm"
                    label-for="filterInput"
                    class="mb-0"
                >
                    <b-input-group size="sm">
                        <b-form-input
                            v-model="filter"
                            type="search"
                            id="filterInput"
                            placeholder="Type to Search"
                        ></b-form-input>
                    </b-input-group>
                </b-form-group>
            </b-col>

            <b-col lg="6" class="my-1">
                <b-form-group
                    label-cols-sm="3"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0">
                    <b-form-checkbox-group v-model="filterOn" class="mt-1">
                        <b-form-checkbox value="name">Name</b-form-checkbox>
                        <b-form-checkbox value="age">Age</b-form-checkbox>
                        <b-form-checkbox value="isActive">Active</b-form-checkbox>
                    </b-form-checkbox-group>
                </b-form-group>
            </b-col>
        </b-row>

        <!-- Main table element -->
        <b-table
            show-empty
            small
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :sort-desc.sync="sortDesc"
            @filtered="onFiltered"
            table-variant="dark"
        >
            <template v-slot:cell(name)="row">
                {{ row.value.first }} {{ row.value.last }}
            </template>

            <template v-slot:cell(actions)="row">
                <b-button size="sm" @click="row.toggleDetails">
                    {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
                </b-button>
            </template>

            <template v-slot:row-details="row">
                <b-card>
                    <ul>
                        <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                    </ul>
                </b-card>
            </template>
        </b-table>

        <b-row>
            <b-col sm="7" md="6" class="m-auto my-1">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="fill"
                    size="sm"
                    class="my-0"
                ></b-pagination>
            </b-col>
        </b-row>

    </b-container>
</template>

<script>
    import moment from "moment";

    export default {
        name:"Orders",
        data() {
            return {
                items: [],
                fields: [
                    { key: 'userName', label: 'Name', sortable: true },
                    { key: 'surname', label: 'Surname', sortable: true },
                    { key: 'address', label: 'Address', sortable: true },
                    { key: 'brand', label: 'Brand', sortable: true },
                    { key: 'model', label: 'Model', sortable: true },
                    { key: 'new_price', label: 'Price', sortable: true },
                    { key: 'mobile', label: 'Mobile', sortable: true },
                    {
                        key: 'created_at',
                        label: 'Ordered',
                        formatter: (value, key, item) => {
                            return moment(value).format('DD MMM YYYY HH:mm')
                        },
                        sortable: true,
                        sortByFormatted: true,
                        filterByFormatted: true,
                        sortDirection: 'asc'
                    }, {
                        key: 'messengers',
                        label: 'Messengers',
                        formatter: (value, key, item) => {
                            let messagners = JSON.parse(value),
                                used = '';
                            used += messagners.viber  ?  'Viber ' : '';
                            used += messagners.whatsapp  ?  ' WhatsAPP' : '';
                            used += messagners.telegram  ?  ' Telegram' : '';
                            used += used.length  ?  '' : 'Ոչ մի';
                            return used
                        },
                        sortable: true,
                    },
                    { key: 'actions', label: 'Actions' }
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                sortDesc: false,
                filter: null,
                filterOn: []
            }
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            }
        },
        methods: {
            getOrdersList(){
                axios.post('/api/orderListAll').then((response) => {
                    this.items = response.data.orderList;
                    this.totalRows = this.items.length;
                });
            },
            resetInfoModal() {
                this.infoModal.title = ''
                this.infoModal.content = ''
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            }
        },
        mounted() {
            this.getOrdersList();
            this.totalRows = this.items.length
        },
    }
</script>
<style scoped>

</style>
