<template>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col class="text-right">
                <b-button :variant="addNew ? 'danger' : 'success'" @click="addNew = !addNew">
                    <font-awesome-icon v-bind:icon="addNew ? 'times' : 'plus'"></font-awesome-icon>
                    <span>{{ addNew ? ' Cancel' : ' Add New Service' }}</span>
                </b-button>
            </b-col>
        </b-row>
        <div v-if="!addNew">
            <b-row>
                <b-col lg="6" class="my-1">
                    <b-form-group
                        label="Filter"
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        label-for="filterInput"
                        class="mb-0"
                    >
                        <b-input-group size="sm">
                            <b-form-input
                                v-model="filter"
                                type="search"
                                id="filterInput"
                                placeholder="Type to Search"
                            ></b-form-input>
                        </b-input-group>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        class="mb-0">
                        <b-form-checkbox-group v-model="filterOn" class="mt-1">
                            <b-form-checkbox value="name">Name</b-form-checkbox>
                            <b-form-checkbox value="age">Age</b-form-checkbox>
                            <b-form-checkbox value="isActive">Active</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>
            </b-row>
            <!-- Main table element -->
            <b-table
                class="mt-5"
                show-empty
                small
                stacked="md"
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :filterIncludedFields="filterOn"
                :sort-desc.sync="sortDesc"
                @filtered="onFiltered"
                table-variant="dark"
            >
                <template v-slot:cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                </template>

                <template v-slot:cell(actions)="row">
<!--                    <b-button size="sm" @click="row.toggleDetails">-->
<!--                        {{ row.detailsShowing ? 'Hide' : 'Show' }} Details-->
<!--                    </b-button>-->
                    <b-button variant="dark" @click="removeItem(row.item.id)"><font-awesome-icon icon="trash" class="text-danger"></font-awesome-icon></b-button>
                    <b-form-checkbox @change="offService(row.item.id , row.item.active)" v-model="row.item.active === 1 ? true : false" size="lg" name="check-button" switch></b-form-checkbox>
                </template>

                <template v-slot:row-details="row">
                    <b-card>
                        <ul>
                            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                        </ul>
                    </b-card>
                </template>
            </b-table>
            <b-row>
                <b-col sm="7" md="6" class="m-auto my-1">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        v-if="totalRows > perPage"
                    ></b-pagination>
                </b-col>
            </b-row>
        </div>
        <add-service v-else></add-service>
    </b-container>
</template>

<script>
    import moment from 'moment';
    import AddService from "./Forms/AddService";

    export default {
        name: "Services",
        components: {AddService},
        data() {
            return {
                addNew: false,
                items: [],
                fields: [
                    {key: 'service', label: 'Name', sortable: true, sortDirection: 'desc'},
                    {key: 'description_am', label: 'Description AM', sortable: true},
                    {key: 'description_ru', label: 'Description RU', sortable: true},
                    {key: 'description_en', label: 'Description EN', sortable: true},
                    {
                        key: 'created_at',
                        label: 'Added',
                        formatter: (value, key, item) => {
                            return moment(value).format('DD MMM YYYY')
                        },
                        sortable: true,
                        sortByFormatted: true,
                        filterByFormatted: true
                    },
                    {key: 'actions', label: 'Actions'}
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                sortDesc: false,
                filter: null,
                filterOn: []
            }
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        mounted() {
            // Set the initial number of items
            this.totalRows = this.items.length
        },
        methods: {
            resetInfoModal() {
                this.infoModal.title = ''
                this.infoModal.content = ''
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            getServices() {
                this.items = [];
                this.totalRows = 1;
                axios.post('/api/serviceListAll').then((respose) => {
                    respose.data.services.forEach(service => {
                        service.service = service.name;
                        this.items.push(service);
                    });
                    this.totalRows = this.items.length;
                });
            },
            removeItem(id){
                axios.post('/api/removeService' , {id:id}).then((response) => {
                    console.log(response.data)
                    this.$bvToast.toast(response.data.message.body, {
                        title: response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'success',
                    });
                    this.getServices();
                }).catch((error) => {
                    this.$bvToast.toast(error.response.data.message.body, {
                        title: error.response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'danger',
                    });
                });
            },
            offService(id,status){
                axios.post('/api/offService' , {id:id,status:status}).then((response) => {
                    this.$bvToast.toast(response.data.message.body, {
                        title: response.data.message.title,
                        autoHideDelay: 5000,
                        variant: status ? 'info' : 'success',
                    });
                    this.getServices();
                }).catch((error) => {
                    this.$bvToast.toast(error.response.data.message.body, {
                        title: error.response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'danger',
                    });
                });
            },
        },
        created() {
            this.getServices();
            this.$root.$on('addedServices' , services => {
                console.log(services);
                services.forEach(service => {
                    service.service = service.name;
                    this.items.push(service);
                });
                this.totalRows = this.items.length;
            });
        }
    }
</script>
<style scoped>

</style>
