<template>
    <div>
        <b-card title="Card Title" no-body bg-variant="dark" text-variant="white">
            <b-card-header header-tag="nav">
                <b-nav>
                    <b-nav-item :active="activeTab === 'page'" @click="activeTab = 'page'" :disabled="activeTab === 'page'">Pages</b-nav-item>
                    <b-nav-item :active="activeTab === 'social'" @click="activeTab = 'social'" :disabled="activeTab === 'social'">Social Sites</b-nav-item>
                </b-nav>
            </b-card-header>

            <b-card-body class="text-center" v-if="activeTab === 'social'">
                <div class="d-flex">
                    <input v-model="newSocial.name" type="text" class="form-control" placeholder="Social Site Name">
                    <input v-model="newSocial.link" type="text" class="form-control" placeholder="Social Site Link">
                    <b-button variant="light" @click="addSocial"><font-awesome-icon icon="plus"></font-awesome-icon></b-button>
                </div>
                <div class="col-12 d-flex m-4 text-center" v-for="(account,index) in socials">
                    <h4><b-badge variant="light" class="m-2">Social Site: {{ account.name }}</b-badge></h4>
                    <h4><b-badge variant="light" class="m-2">Link: {{ account.link }}</b-badge></h4>
                    <b-button variant="light" @click="removeSocial(index)"><font-awesome-icon icon="trash" class="text-danger"></font-awesome-icon></b-button>
                </div>
            </b-card-body>

            <b-card-body class="text-center" v-if="activeTab === 'page'">

                <div class="col-12 text-right"><b-button @click="addNew = !addNew" variant="light"><font-awesome-icon :icon="addNew ? 'times' : 'plus'"></font-awesome-icon> {{ addNew ? 'Cancel' : 'Add New' }}</b-button></div>
                <div class="addNewPage" v-show="addNew">
                    <div class="col-12 m-4 text-left">
                        <h4><b-badge variant="light">Title: <input type="text" class="form-control" v-model="newPage.title"></b-badge></h4>
                        <h4><b-badge variant="light">Link: /<input type="text" class="form-control" v-model="newPage.name"></b-badge></h4>
                    </div>
                    <ckeditor :editor="editor" v-model="newPage.page_content"></ckeditor>
                    <b-button @click="createPage">Save</b-button>
                </div>

                <div v-for="page in pages">
                    <div class="col-12 m-4 text-left">
                        <h4><b-badge variant="light" @dblclick="editMode = !editMode">Title: {{page.title}}</b-badge></h4>
                        <h4><b-badge variant="light" @dblclick="editMode = !editMode">Link: <a :href="'/page/'+page.name">/{{page.name}}</a></b-badge></h4>
                        <div class="actions text-right">
                            <b-button variant="light" @click="removePage(page.id)"><font-awesome-icon icon="trash" class="text-danger"></font-awesome-icon></b-button>
                        </div>
                    </div>
                    <ckeditor :editor="editor" class="text-dark" :value="page.content" ></ckeditor>
                </div>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import Socials from '../../data/social.json';


    export default {
        name: "Settings",
        data(){
            return{
                editor: ClassicEditor,
                pages: [],
                addNew:false,
                editMode:false,
                newPage:{
                    title:'',
                    name:'',
                    page_content:'',
                },
                activeTab : 'page',
                socials: [],
                newSocial:{
                    name:'',
                    link:'',
                }
            }
        },
        methods:{
            addSocial(){
                this.socials.push(this.newSocial);
                axios.post('/api/save/socials' , {data:this.socials}).then((response) => {
                   console.log('ok');
                });
                this.newSocial = {name:'',link:''}
            },
            removeSocial(index){
                this.socials.splice(index , 1);
                axios.post('/api/save/socials' , {data:this.socials}).then((response) => {
                    console.log('ok');
                });
            },
            removePage(id){
                axios.post('/api/page/remove' , {id:id}).then((response) => {
                    this.$bvToast.toast(response.data.message, {
                        autoHideDelay: 5000,
                        variant: 'success',
                    });
                    this.newPage = {
                        title:'',
                        name:'',
                        page_content:'',
                    };
                    this.addNew = false;
                    this.getAllPages();
                }).catch((error) => {
                    this.$bvToast.toast(error.response.data.message, {
                        autoHideDelay: 5000,
                        variant: 'danger',
                    });
                });
            },
            createPage(){
                axios.post('/api/page/add' , this.newPage).then((response) => {
                    this.$bvToast.toast(response.data.message, {
                        autoHideDelay: 5000,
                        variant: 'success',
                    });
                    this.newPage = {
                        title:'',
                        name:'',
                        page_content:'',
                    };
                    this.addNew = false;
                    this.getAllPages();
                }).catch((error) => {
                    this.$bvToast.toast(error.response.data.message, {
                        autoHideDelay: 5000,
                        variant: 'danger',
                    });
                });
            },
            getAllPages(){
                    axios.post('/api/page/get/all').then((response) => {
                        this.pages = response.data.pages;
                    }).catch((error) => {
                        this.$bvToast.toast('Ինչ որ սխալ կա, համակարգում.', {
                            title: 'Չեմ կարող ցույց տալ էջերը.',
                            autoHideDelay: 5000,
                            variant: 'danger',
                        });
                    });
                }
        },
        mounted() {
            this.getAllPages();
            this.socials = Socials;
        }
    }
</script>

<style scoped>
    .text-white{
        color: black!important;
    }
</style>
