<template>
    <b-container fluid>
        <b-row>
            <b-col class="text-right">
                <b-button :variant="addNew ? 'danger' : 'success'" @click="addNew = !addNew">
                    <font-awesome-icon v-bind:icon="addNew ? 'times' : 'plus'"></font-awesome-icon>
                    <span>{{ addNew ? ' Cancel' : ' Add New Banner' }}</span>
                </b-button>
            </b-col>
        </b-row>
        <!-- User Interface controls -->
        <div v-if="!addNew">

            <b-row>
                <b-col lg="6" class="my-1">
                    <b-form-group
                        label="Filter"
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        label-for="filterInput"
                        class="mb-0"
                    >
                        <b-input-group size="sm">
                            <b-form-input
                                v-model="filter"
                                type="search"
                                id="filterInput"
                                placeholder="Type to Search"
                            ></b-form-input>
                        </b-input-group>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        class="mb-0">
                        <b-form-checkbox-group v-model="filterOn" class="mt-1">
                            <b-form-checkbox value="name">Name</b-form-checkbox>
                            <b-form-checkbox value="age">Age</b-form-checkbox>
                            <b-form-checkbox value="isActive">Active</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>
            </b-row>

            <!-- Main table element -->
            <b-table
                class="mt-5"
                show-empty
                small
                stacked="md"
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :filterIncludedFields="filterOn"
                :sort-desc.sync="sortDesc"
                @filtered="onFiltered"
                table-variant="dark"
            >
                <template v-slot:cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                </template>

                <template v-slot:cell(actions)="row">
                    <div class="d-flex">

    <!--                    <b-button size="sm" @click="row.toggleDetails">-->
    <!--                        {{ row.detailsShowing ? 'Hide' : 'Show' }} Details-->
    <!--                    </b-button>-->
                        <b-button variant="dark" @click="removeItem(row.item.id)"><font-awesome-icon icon="trash" class="text-danger"></font-awesome-icon></b-button>
                        <b-form-checkbox @change="offBanner(row.item.id , row.item.active)" v-model="row.item.active === 1 ? true : false" size="lg" name="check-button" switch></b-form-checkbox>
                    </div>
                </template>

                <template v-slot:row-details="row">
                    <b-card>
                        <ul>
                            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                        </ul>
                    </b-card>
                </template>
            </b-table>

            <b-row>
                <b-col sm="7" md="6" class="m-auto my-1">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        v-if="totalRows > perPage"
                    ></b-pagination>
                </b-col>
            </b-row>
        </div>
        <b-row v-else class="m-auto text-center p-2">
            <div class="m-auto text-center p-2 col-6">
                <image-upload class="col-12" :image="newBanner.image" :file="'fileBanner'"></image-upload>
                <input type="file" id="fileBanner" hidden @change="onImageChange">

                <label for="title">Slider Title</label>
                <b-input-group class="mb-2 mr-sm-2 mb-sm-0 col-12 p-0">
                    <b-input v-model="newBanner.title" id="title" placeholder="Enter Title"></b-input>
                </b-input-group>

                <label for="title">Slider Status</label>
                <b-form-checkbox v-model="newBanner.status" size="lg" name="check-button" switch>
                    <b v-if="newBanner.status">New Banner will show on slider</b>
                    <b v-else>New Banner will not show on slider</b>
                </b-form-checkbox>

                <b-button variant="success" class="col-12 mt-3" @click="uploadImage"><font-awesome-icon icon="plus"></font-awesome-icon> Add</b-button>
            </div>
        </b-row>
    </b-container>
</template>

<script>
    import moment from 'moment';
    import ImageUpload from "./Forms/ImageUpload";

    export default {
        name: "Slider",
        components: {ImageUpload},
        data() {
            return {
                uploaded : null,
                newBanner:{
                    title:'',
                    image: '/images/default-upload.gif',
                    status:true
                },
                items: [],
                fields: [
                    {key: 'id', label: '#', sortable: true},
                    {
                        key: 'title', label: 'Title', sortable: true,
                        formatter: (value, key, item) => {
                            return value === '' ? 'No Title' : value;
                        },
                    },
                    {
                        key: 'created_at',
                        label: 'Added',
                        formatter: (value, key, item) => {
                            return moment(value).format('DD MMM YYYY')
                        },
                        sortable: true,
                        sortByFormatted: true,
                        filterByFormatted: true,
                    },
                    {key: 'actions', label: 'Actions'}
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                sortDesc: false,
                filter: null,
                filterOn: [],
                addNew:false
            }
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        mounted() {
            // Set the initial number of items
            this.totalRows = this.items.length
        },
        methods: {
            uploadImage(){
                const data = new FormData();
                data.append('image', this.uploaded);
                data.append('name', this.newBanner.title);
                data.append('path', 'images/banners');

                axios.post('/api/image/store',data).then(response => {
                    this.newBanner.image = response.data.image;
                    this.addBanner();
                }).catch((error) => {
                    this.$bvToast.toast('Please check data of image.', {
                        title: 'Image is incorrect format.',
                        autoHideDelay: 5000,
                        variant: 'danger',
                    })
                });
            },
            addBanner(){
              axios.post('/api/addBanner' , this.newBanner).then((response) => {
                  this.items = response.data.banners;
                  this.totalRows = this.items.length;
                  this.newBanner = {
                      title: '',
                      image: '/images/default-upload.gif',
                      status: true
                  };
                  variant = 'success';
                  message = "New Collection is added";
                  this.$bvToast.toast(message, {
                      title: 'New Category',
                      autoHideDelay: 5000,
                      variant:variant,
                  })
              }).catch((error) => {
                  message = 'Something is wrong please check fields';
                  this.$bvToast.toast(message, {
                      title: 'New Category adding Failed',
                      autoHideDelay: 5000,
                      variant: 'danger',
                  })
              });
            },
            resetInfoModal() {
                this.infoModal.title = ''
                this.infoModal.content = ''
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            getBanners() {
                axios.post('/api/bannerList').then((respose) => {
                    this.items = respose.data.banners;
                    this.totalRows = this.items.length;
                });
            },
            removeItem(id){
                axios.post('/api/removeBanner' , {id:id}).then((response) => {
                    this.$bvToast.toast(response.data.message.body, {
                        title: response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'success',
                    });
                    this.getBanners();
                }).catch((error) => {
                    this.$bvToast.toast(error.response.data.message.body, {
                        title: error.response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'danger',
                    });
                });
            },
            offBanner(id ,status){
                axios.post('/api/offBanner' , {id:id,status:status}).then((response) => {
                    this.$bvToast.toast(response.data.message.body, {
                        title: response.data.message.title,
                        autoHideDelay: 5000,
                        variant: status ? 'info' : 'success',
                    });
                    this.getBanners();
                }).catch((error) => {
                    this.$bvToast.toast(error.response.data.message.body, {
                        title: error.response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'danger',
                    });
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.newBanner.image = e.target.result;
                };
                reader.readAsDataURL(file);
                this.uploaded  = file;
            },
        },
        created() {
            this.getBanners();
        }
    }
</script>
<style scoped>

</style>
