<template>
    <div class="container-fluid p-0">
        <admin-login v-if="!auth"></admin-login>
        <router-view v-else></router-view>
    </div>
</template>

<script>
    import AdminLogin from "./Admin/Login";

    export default {
        name: "Admin",
        components: {AdminLogin},
        data(){
            return{
                auth:false,
            }
        },
        created() {
            if (localStorage.getItem('user')){
                this.auth = true;
                this.$router.push({name:'admin.dashboard'});
            }
        }
    }
</script>

<style scoped>

</style>
