<template>
    <div>
        <div v-if="!admin" class="homePage">
            <div class="header" v-show="!admin">
                <b-navbar class="homeHeader" toggleable="lg" type="dark" variant="dark">
                    <div class="container">
                        <div class="col-12">
                            <div class="col-12 form-inline p-3">
                                <b-navbar-brand :to="{name:'home'}"><h1>Electronic</h1></b-navbar-brand>

                                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                                <b-collapse id="nav-collapse" is-nav>

                                    <!-- Right aligned nav items -->
<!--                                    <b-navbar-nav class="ml-auto">-->
<!--                                        <b-input-group class="searchGroup">-->
<!--                                            <b-form-input square size="lg" type="dark" class="searchInput "-->
<!--                                                          placeholder="Search"></b-form-input>-->
<!--                                            <b-button square variant="outline-light">-->
<!--                                                <b-icon icon="search" variant="light"></b-icon>-->
<!--                                            </b-button>-->
<!--                                        </b-input-group>-->

<!--                                        <b-nav-item-dropdown class="ml-2" text="Lang" right>-->
<!--                                            <b-dropdown-item href="#">EN</b-dropdown-item>-->
<!--                                            <b-dropdown-item href="#">ES</b-dropdown-item>-->
<!--                                            <b-dropdown-item href="#">RU</b-dropdown-item>-->
<!--                                            <b-dropdown-item href="#">FA</b-dropdown-item>-->
<!--                                        </b-nav-item-dropdown>-->
<!--                                    </b-navbar-nav>-->
                                </b-collapse>
                            </div>
                            <div class="col-12 form-inline p-1">
                                <b-navbar-nav>
                                    <b-nav-item :to="{name:route.name}" v-bind:key="key" v-for="(route,key) in shortRoutes"><h5>{{ route.title }}</h5></b-nav-item>
                                </b-navbar-nav>
                            </div>
                        </div>
                    </div>
                </b-navbar>
            </div>
            <main class="py-4">
                <router-view></router-view>
            </main>
            <div class="footer" v-show="!admin">
            </div>
            <b-navbar class="homeFooter" type="dark" variant="secondary">
                <div class="container">
                    <div class="col-12 form-inline p-1 text-center">
                        <ul class="d-block m-auto list-unstyled">
                            <h4>Quick Links</h4>
                            <li class="pl-2">
                                <router-link class="text-white" :to="{name:route.name}" v-bind:key="key" v-for="(route,key) in shortRoutes">
                                    <h5>{{route.title }}</h5>
                                </router-link>
                            </li>
                        </ul>
                        <ul class="d-block m-auto list-unstyled">
                            <h4>Our Pages</h4>
                            <li class="pl-2" v-for="page in footerMenuList">
                                <router-link class="text-white" :to="'/page/'+page.name"><h5>{{ page.title }}</h5></router-link>
                            </li>
                        </ul>
                        <ul class="d-block m-auto list-unstyled">
                            <h4>Social Pages</h4>
                            <li class="pl-2" v-for="page in socialPages">
                                <a class="text-white" :href="page.link"><h5>{{ page.name }}</h5></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </b-navbar>
        </div>
        <div v-else class="adminPanel">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Socials from '../data/social.json';

    export default {
        name: "App",
        components: {},
        data() {
            return {
                admin: false,
                shortRoutes: [
                    {name: 'services', title: 'Services'},
                    {name: 'collections', title: 'Collections'},
                ],
                footerMenuList:[],
                socialPages:[]
            }
        },
        methods:{
            getMenuList(){
                axios.post('/api/page/menu/list').then((response) => {
                    this.footerMenuList = response.data.menuList;
                });
            }
        },
        created() {
            this.admin = this.$route.meta.admin;
            this.socialPages = Socials;
            this.getMenuList();
        }
    }
</script>

<style scoped>
    .searchGroup > * {
        border-radius: unset;
    }

    .homeHeader {
        height: 12rem;
    }

    .homeFooter {
        height: 12rem;
    }

    .searchInput {
        background: transparent;
        color: white;
    }

    .searchInput::placeholder {
        color: white;
        opacity: 1;
    }
</style>
