<template>
    <b-link  :to="{name:'collection' , params:{id:collection.id}}" class="page-link col-2 m-3 text-center">
        <img class="col-12"
             :src="'images/categories/'+collection.image">
        <h6 class="text-secondary text-uppercase">{{ collection.name_am }}</h6>
    </b-link>
</template>

<script>
    export default {
        name: "CollectionsComponent",
        props:['collection'],
        created() {

        }
    }
</script>

<style scoped>

</style>
