<template>
    <div>
        <b-jumbotron header="Nothing found">
            <p>Now we have not some device to show for this category</p>
            <b-button variant="primary" :to="{name:'collections'}">Check other Categories</b-button>
        </b-jumbotron>
    </div>
</template>

<script>
    export default {
        name: "Empty"
    }
</script>

<style scoped>

</style>
