<template>
    <b-link :to="{name:'item' , params:{collection_id:device.collection_id,id:device.id}}" class="page-link itemListed">
        <b-badge v-if="device.old_price" class="discountPercent" variant="danger">
            {{ calcDiscount(device.old_price,device.new_price) }}
        </b-badge>
        <img class="col-3 d-inline-block"
             :src="'/images/devices/'+parseIMG(device.images)">
        <div class="text-secondary text-uppercase col-5 d-inline-block">
            <h4>{{ device.brand }}</h4>
            <h5>{{  device.model }}</h5>
            <h6>Made: {{ device.made }}</h6>
            <h6>In Stock: {{ device.made }}</h6>
        </div>
        <div class="pricing text-center align-middle col-3 d-inline-block">
            <h3 class="newPrice text-dark p-2 m-2 font-weight-bolder">$ {{ device.new_price }}</h3>
            <h4 v-if="device.old_price" class="oldPrice text-secondary p-0 m-0"><s>$ {{ device.old_price }}</s></h4>
        </div>
    </b-link>
</template>

<script>
    export default {
        props:['device'],
        name: "ItemsComponentInline",
        methods:{
            parseIMG(json){
                return JSON.parse(json)[0];
            },
            calcDiscount(price,new_price){
                return parseInt(((price-new_price)*100)/price) + "% OFF";
            },
        }
    }
</script>

<style scoped>
    .discountPercent{
        position: absolute;
        z-index: 10;
    }
    .itemListed {
        height: 12rem;
        margin: 10px auto;
    }
</style>
