<template>
    <div>
        <b-link class="page-link" :to="{name:'item' , params:{collection_id:device.collection_id,id:device.id}}">
            <b-badge class="discountPercent" variant="danger" v-if="device.old_price">{{ calcDiscount(device.old_price,device.new_price) }}</b-badge>
            <img class="col-12 m-auto"
                 :src="'/images/devices/'+parseIMG(device.images)">
            <div class="text-secondary text-center text-uppercase mt-2">
                <h4 class="text-dark">{{ device.brand }}</h4>
                <h6 class="modelTitle">{{  device.model }}</h6>
                <p>Made: {{ device.made}}</p>
            </div>
            <div class="pricing text-center">
                <h3 class="newPrice text-dark p-2 m-1 font-weight-bolder">$ {{ device.new_price }}</h3>
                <h4 class="oldPrice text-secondary p-0 m-0" v-if="device.old_price"><s>$ {{ device.old_price }}</s></h4>
            </div>
        </b-link>
    </div>
</template>

<script>
    export default {
        props: ['device'],
        name: "ItemsComponent",
        methods: {
            parseIMG(json) {
                return JSON.parse(json)[0];
            },
            calcDiscount(price, new_price) {
                return parseInt(((price-new_price)*100)/price) + "% OFF";
            },
        }
    }
</script>

<style scoped>
    .discountPercent{
        position: absolute;
        z-index: 10;
    }
    .smItemColed > a{
        height: 8rem;
    }
    .mdItemColed > a{
        height: 17rem;
    }
    .mdItemColed .modelTitle{
        display: none;
    }
    .itemColed > a{
        height: 24rem;
    }
</style>
