<template>
    <section class="container">
        <div  v-if="show && !showNoResult">
            <b-breadcrumb :items="items" class="text-capitalize"></b-breadcrumb>
            <div class="row">
                <div class="col-12 form-inline">
                    <h1 class="text-capitalize">{{ items[1].text }}</h1>
                    <div class="col-9 offset-1 form-inline mr-0 tools d-inline text-right p-1 rounded text-secondary">
                        <span>Sort By</span>
                        <b-select  class="m-1" @change="getDevices(collectionID)" v-model="selected" :options="options"></b-select>
                        <div class="form-inline p-0 d-inline" v-if="show &&  devices.length">
                            <h4 class="m-1 pointer-event">
                                <b-icon @click="listed = false" icon="columns-gap" size="lg" variant="white"></b-icon>
                            </h4>
                            <h4 class="m-1 pointer-event">
                                <b-icon @click="listed = true" icon="card-list" size="lg" variant="white"></b-icon>
                            </h4>
                        </div>
                    </div>
                    <div class="col-12 form-inline" v-if="show &&  devices.length">
                        <template v-for="device in devices">
                            <ItemsComponent  class="itemColed col-3 mt-3" :device="device" v-if="!listed"></ItemsComponent>
                            <ItemsComponentInline :device="device" v-else></ItemsComponentInline>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <empty v-else-if="showNoResult" class="showNoResult col-12 mt-5"></empty>
    </section>
</template>

<script>
    import ItemsComponent from "../../components/ItemsComponent";
    import ItemsComponentInline from "../../components/ItemsComponentInline";
    import Empty from "../../components/Empty";
    export default {
        name: "Collection",
        components: {Empty, ItemsComponentInline, ItemsComponent},
        data() {
            return {
                listed: false,
                devices: [],
                collectionID: '',
                showNoResult:false,
                items: [
                    {
                        text: 'Home',
                        href: '/'
                    },
                    {
                        text: '',
                        active: true
                    }
                ],
                selected: 1,
                options: [
                    {value: 0, text: 'Alphabetically,A-Z'},
                    {value: 1, text: 'Alphabetically,Z-A'},
                    {value: 2, text: 'Price: Lower First'},
                    {value: 3, text: 'Price: Higher First'},
                    {value: 4, text: 'Made: Old'},
                    {value: 5, text: 'Made: New'},
                ],
                show:false,
                collection_types:['discount' , 'featured' , 'news'],
            }
        },
        methods:{
            getDevices(id){
                this.collectionID = id;
                if (this.collection_types.includes(id)){
                    axios.post('/api/deviceListAll',{type:id,sort:this.selected}).then((response) => {
                        this.devices = response.data[id];
                        if (!this.devices.length){
                            this.showNoResult = true;
                        }
                        this.items[1].text = id;
                        this.show = true;
                    }).catch(message => {
                        this.showNoResult = true;
                    });
                }else{
                    axios.post('/api/deviceList',{id:id,sort:this.selected}).then((response) => {
                        this.devices = response.data.devices;
                        if (!this.devices.length){
                            this.showNoResult = true;
                        }
                        this.items[1].text = this.devices[0].name_am;
                        this.show = true;
                    }).catch(message => {
                        this.showNoResult = true;
                    });
                }
            }
        },
        created(){
            this.getDevices(this.$route.params.id);
        }
    }
</script>

<style scoped>
    .tools{
        background-color:  #343a40;
    }
    .borderLightGray {
        border-color: #6c757d8c !important;
        border: 1px solid;
        padding: 5px;
        border-radius: 5px;
    }
    .pointer-event{
        cursor: pointer;
        display: inline-block;
    }
    .showNoResult{
        min-height: 59vh;
        height: 100%;
    }
</style>
