<template>
    <section class="container">
        <div class="col-12 form-inline itemList" v-if="collections.length">
            <collections-component  :collection="collection" v-bind:key="collection.id" v-for="collection in collections"></collections-component>
        </div>
        <empty v-else></empty>
    </section>
</template>

<script>
    import CollectionsComponent from "../../components/Collections";
    import Empty from "../../components/Empty";

    export default {
        name: "Collections",
        components: {Empty, CollectionsComponent},
        data() {
            return {
                collections: []
            }
        },
        methods: {
            getCollections() {
                axios.post('/api/collectionList')
                    .then((response) => {
                         this.collections =  response.data.collections;
                    })
            }
        },
        created() {
            this.getCollections();
        }
    }
</script>

<style scoped>

</style>
