<template>
    <div class="container">
        <h1 class="text-center">{{ page.title }}</h1>
        <div class="row" v-html="page.content"></div>
    </div>
</template>

<script>
    export default {
        name: "DynamicPage",
        data(){
            return {
                page :{
                    title:'',
                    content:'',
                }
            }
        },
        methods:{
            getPageData(name){
                axios.post('/api/page/get' , {name:name}).then((response) => {
                    this.page = response.data.page;
                }).catch((error) => {

                });

            }
        },
        mounted() {
            this.getPageData(this.$route.params.page);
        }
    }
</script>

<style scoped>

</style>
