<template>
    <section class="container">

        <b-breadcrumb :items="items"></b-breadcrumb>
        <div class="row">
            <div class="col-12 form-inline">
                <div class="col-6 d-inline-block">
                    <h3>
                        <b-badge v-if="device.old_price" class="discountPercent" variant="danger">
                            {{ calcDiscount(device.old_price,device.new_price) }}
                        </b-badge>
                    </h3>
                    <div class="productImages text-center">
                        <b-carousel
                            id="carousel-fade"
                            ref="Items"
                            style="text-shadow: 0px 0px 2px #000"
                            fade
                            img-width="1024"
                            img-height="480"
                            interval="2500"
                            controls>
                                <b-carousel-slide
                                    v-if="parseIMG(device.images).length"
                                    v-for="(img,key) in parseIMG(device.images)"
                                    v-bind:key="key"
                                    v-bind:img-src="'/images/devices/'+img"
                                >
                                </b-carousel-slide>

                        </b-carousel>
                        <button class="btn btn-link">
                            <img :src="'/images/devices/'+img" v-bind:key="key" v-for="(img,key) in parseIMG(device.images)" @click="setSlide(key)" height="50" width="50" class="m-auto">
                        </button>
                    </div>
                </div>
                <div class="col-6 d-inline-block">
                    <div class="about">
                        <h1 class="text-dark">{{ device.brand }}</h1>
                        <h2 class="text-dark">{{ device.model }}</h2>
                        <h2 class="text-dark font-weight-bolder">$ {{ device.new_price }}</h2>
                        <h3 v-if="device.old_price" class="text-secondary"><s>$ {{ device.old_price }}</s></h3>
                    </div>
<!--                    <div class="col-12 rating form-inline mt-4 mb-3">-->
<!--                        <div class="rating">-->
<!--                            <h3>{{device.rating}}</h3>-->
<!--                            <template v-for="(star,key) in stars">-->
<!--                                <input type="radio" @change.once="rate(device.id,star.value)" :id="star.id" name="rating"-->
<!--                                       :value="star.value" v-model="rating"/>-->
<!--                                <label class="star" :for="star.id" :title="star.title" aria-hidden="true">-->
<!--                                    <b-icon icon="star-fill"></b-icon>-->
<!--                                </label>-->
<!--                            </template>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-12 p-3 border-secondary border-top">
                        <div class="mb-3">
                            <h5 class="text-dark font-weight-bolder"></h5>
                            <h5 class="text-dark">
                                <b-badge v-if="device.in_stock > 0" variant="primary">Made: {{ device.made }}</b-badge>
                            </h5>
                            <h5 class="text-dark">
                                <b-badge v-if="device.in_stock > 0">In Stock: {{ device.in_stock }} pc.</b-badge>
                                <b-badge v-else variant="danger" class="text-capitalize">out of stock</b-badge>
                            </h5>
                            <b-card-group deck>
                                <b-card bg-variant="light" header="Caption" class="text-center">
                                    <b-card-text>{{ device.description_en }}</b-card-text>
                                </b-card>
                            </b-card-group>
                        </div>
                        <b-list-group horizontal v-bind:key="key" v-for="(parameter , key) in device.parameters">
                            <b-list-group-item variant="dark" class="col-3 text-justify text-break">{{ parameter.parameter_en }}</b-list-group-item>
                            <b-list-group-item class="col-9">{{ parameter.value }}</b-list-group-item>
                        </b-list-group>
                    </div>
                    <div class="col-12 d-inline-block orderingSection">
                        <div class="form-inline">
                            <router-link size="lg" :to="{name:'newOrder' , params:{device:device.id}}" class="btn btn-info text-white"><font-awesome-icon icon="shopping-cart"></font-awesome-icon> Order</router-link>
                            <a class="btn text-secondary ml-3" @click="detailsOpened = !detailsOpened" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Show deposit details <font-awesome-icon v-bind:icon="detailsOpened === false ? 'angle-right' : 'angle-down'"></font-awesome-icon>
                            </a>
                        </div>
                        <div class="collapse mt-2" id="collapseExample">
                            <div class="card card-body">{{ device.deposit_details }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Item",
        data() {
            return {
                device: {},
                bigImage: '',
                detailsOpened:false,
                items: [
                    {
                        text: 'Home',
                        href: '/'
                    },
                    {
                        text: '',
                        href: ''
                    },
                    {
                        text: 'Leica Adapter',
                        active: true
                    }
                ],
                stars: [
                    {id: 'star5', title: 'Awesome', value: '5'},
                    {id: 'star4', title: 'Great', value: '4'},
                    {id: 'star3', title: 'Very good', value: '3'},
                    {id: 'star2', title: 'Good', value: '2'},
                    {id: 'star1', title: 'Bad', value: '1'},
                ],
                rating:0
            }
        },
        computed: {
            rows() {
                return this.data.length
            }
        },
        methods: {
            rate(id,value) {
                value = parseFloat(((parseInt(value) + parseInt(this.rating)) / 2 )  / (this.device.rated+1)   ).toFixed(2);
                axios.post('/api/rateDevice', {id:id,value:value}).then((response) => {
                    this.rating = response.data.result.rating;
                });
            },

            setSlide(index){
              this.$refs.Items.setSlide(index)
            },

            getDevice() {
                let data = {id: this.$route.params.id};
                axios.post('/api/device', data).then((response) => {
                    this.device = response.data.device;
                    this.items[1].text = response.data.device.path;
                    this.items[1].href = '/collection/'+response.data.device.collection_id;
                    this.rating = parseInt(response.data.device.rating);
                });
            },
            parseIMG(json) {
                let images = JSON.parse(json);
                this.bigImage = images[0];
                return images;
            },
            changeImg(image) {
                this.bigImage = image;
            },
            calcDiscount(price, new_price) {
                return parseInt((new_price * 100) / price) + "% OFF";
            },
        },
        created() {
            this.getDevice();
        }
    }
</script>

<style scoped>

    .discountPercent {
        position: absolute;
        z-index: 10;
    }

    .rating {
        margin-left: 1rem;
        border: none;
    }

    .rating > label {
        color: #90A0A3;
        float: right;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 5em;
        display: inline-block;
    }

    .rating > input {
        display: none;
    }

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #F79426;
    }

    .rating > input:checked + label:hover,
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label,
    .rating > input:checked ~ label:hover ~ label {
        color: #FECE31;
    }
</style>
