<template>
    <section class="container">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" placeholder="ex.Arman" v-model="newOrder.name" id="firstName">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" placeholder="ex.Sargsyan" class="form-control" v-model="newOrder.surname" id="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" v-model="newOrder.address" placeholder="ex.14,Petros Adamyan Street">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputMobile">Mobile</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend col-4 p-0">
                        <select class="custom-select" v-model="newOrder.code">
                            <option :selected="code.code === 'AM'" :value="code.dial_code" v-for="code in countryCodes">
                                <country-flag :country='code.code' size='small'/> {{ code.name }} ({{code.dial_code }})
                            </option>
                        </select>
                    </div>
                    <input type="tel" class="form-control" placeholder="Mobile Number" v-model="newOrder.mobile" id="inputMobile">
                </div>
                <h6 class="col-12 text-center font-weight-bold border-bottom">Կարող եք նշել մեսսենջերներ այս հեռախոսահամարով</h6>
                <div class="col-12 d-flex justify-content-center">
                    <div class="messangerType viber" v-bind:class="{active:newOrder.messangers.viber }">
                        <font-awesome-icon class="have" icon="check" v-show="newOrder.messangers.viber"></font-awesome-icon>
                        <label for="viber"></label>
                        <input type="checkbox" v-show="false" id="viber" name="viber" v-model="newOrder.messangers.viber">
                    </div>
                    <div class="messangerType whatsapp" v-bind:class="{active:newOrder.messangers.whatsapp }">
                        <font-awesome-icon class="have" icon="check" v-show="newOrder.messangers.whatsapp"></font-awesome-icon>
                        <label for="whatsapp"></label>
                        <input type="checkbox" v-show="false" id="whatsapp" name="whatsapp" v-model="newOrder.messangers.whatsapp">
                    </div>
                    <div class="messangerType telegram" v-bind:class="{active:newOrder.messangers.telegram  }">
                        <font-awesome-icon class="have" icon="check" v-show="newOrder.messangers.telegram"></font-awesome-icon>
                        <label for="telegram"></label>
                        <input type="checkbox" v-show="false" id="telegram" name="telegram" v-model="newOrder.messangers.telegram">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" placeholder="ex.arman.sargsyan@mail.com" v-model="newOrder.email" id="inputEmail">
            </div>
        </div>
        <button type="submit" class="btn btn-info text-white col-3 offset-9" @click="checkout">Checkout</button>
    </section>
</template>

<script>
    import CountryCodes from '../../data/countryCodes.json';
    import CountryFlag from 'vue-country-flag';
    import router from "../../app";
    export default {
        name: "NewOrder",
        components: {
            CountryFlag
        },
        data(){
          return{
              selected:0,
              countryCodes:{},
              newOrder: {
                  name:'',
                  surname:'',
                  address:'',
                  code:'',
                  mobile:'',
                  email:'',
                  device_id:'',
                  messangers:{
                      viber:false,
                      whatsapp:false,
                      telegram:false,
                  },
              }
          }
        },
        methods:{
            checkout() {
                axios.post('/api/order' , this.newOrder).then((response) => {
                    this.$bvToast.toast(response.data.message.body, {
                        title: response.data.message.title,
                        autoHideDelay: 5000,
                        variant: 'success',
                    });

                    this.$router.push({name: 'home'});
                }).catch((error) => {
                    this.$bvToast.toast("Խնդրում ենք լրացնել բոլոր դաշտերը", {
                        title: "Պատվերը չի գրանցվել",
                        autoHideDelay: 5000,
                        variant: 'danger',
                    })
                })
            }
        },
        mounted() {
            this.countryCodes = CountryCodes;
            this.newOrder.code = this.countryCodes[10].dial_code;
            this.newOrder.device_id = this.$route.params.device;
        }
    }
</script>

<style scoped>
    .messangerType{
        position: relative;
        height: 50px;
        width: 50px;
        margin: 10px;
        background-image: url("/images/messanger_icons.png");
        background-repeat: no-repeat;
    }
    .messangerType.viber{
        background-size: 165px;
        background-position: center;
    }
    .messangerType.whatsapp{
        background-size: 165px;
        background-position: -8px;
    }
    .messangerType.telegram{
        background-size: 165px;
        background-position: -105px;
    }
    .messangerType.active label{
        background-color: #1d68a7;
        opacity: .5;
    }
    .messangerType .have{
        position: absolute;
        color: white;
        z-index: 99;
        left: 4px;
    }
    .messangerType label{
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
</style>
