<template>
    <div class="container itemList">
        <div v-if="showResult">
            <b-card no-body class="overflow-hidden col-12 service" v-bind:key="service.id" v-for="service in services">
                <b-row no-gutters2>
                    <b-col md="6">
                        <b-card-img :src="'images/services/'+service.image" alt="Image" class="serviceImg rounded-0"></b-card-img>
                    </b-col>
                    <b-col md="6">
                        <b-card-body :title="service.name">
                            <b-card-text v-html="service.description_am"></b-card-text>
                        </b-card-body>
                    </b-col>
                </b-row>
            </b-card>
            <b-jumbotron  v-if="!show"  header="We don't have services for now">
                <p>We will show our services little bit late, please wait</p>
                <router-link :to="{name:'home'}">Check our devices for now</router-link>
            </b-jumbotron>
        </div>
        <div v-else>
            <b-col md="6" class="m-auto">
                <h1 class="m-5 text-center">
                    <b-icon icon="three-dots" animation="cylon" font-scale="4"></b-icon>
                </h1>
            </b-col>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Services",
        data(){
            return {
                services:[],
                show:false,
                showResult:false
            }
        },
        methods:{
            getServices(){
                axios.post('/api/serviceList').then((respose)=>{
                   this.services = respose.data.services;
                   this.showResult = true;
                   this.show = respose.data.services.length;
                });
            }
        },
        created() {
            this.getServices();
        }
    }
</script>

<style scoped>
    .serviceImg{
        width: 65%;
    }
    .itemList{
        min-height: 52vh;
    }
    .service{
        height: 200px;
        margin:4rem;
    }
</style>
