<template>
    <div class="container">
        <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="2500"
            controls
            indicators
            background="#ababab"
            img-width="580"
            img-height="320"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
        >
            <!-- Text slides with image -->
            <b-carousel-slide
                v-if="slider.length"
                v-for="banner in slider"
                v-bind:key="banner.id"
                :caption="banner.title"
                :img-src="'images/banners/'+banner.image"
                class="sliderItem"
                width="580"
                height="320"
            ></b-carousel-slide>
        </b-carousel>

        <div class="row border-top border-secondary mt-5 p-2 mb-5">
            <div class="col-12">
                <h3 class="d-inline-block  text-uppercase">Shop For</h3>
                <router-link :to="{name:'collections' }" class="btn-link text-secondary float-right">More Categories
                    <b-icon icon="chevron-right"></b-icon>
                </router-link>
            </div>
            <div class="col-12 form-inline">
                    <collections-component v-for="collection in collections" v-bind:key="collection.id" :collection="collection" class="col-2 m-auto text-center smItemColed"></collections-component>
            </div>
        </div>

        <div class="row border-top border-secondary mt-5 p-2 mb-5">
            <div class="col-12">
                <h3 class="d-inline-block  text-uppercase">FEATURED COLLECTION</h3>
                <router-link :to="{ name:'collection', params:{id:'featured'}}" class="btn-link text-secondary float-right">More Items
                    <b-icon icon="chevron-right"></b-icon>
                </router-link>
            </div>
            <div class="col-12 form-inline">
                   <items-component v-for="item in featured" v-bind:key="item.id" :device="item" class="mdItemColed col-2 m-auto text-center"></items-component>
            </div>
        </div>

        <div class="row border-top border-secondary mt-5 p-2 mb-5">
            <div class="col-12">
                <h3 class="d-inline-block  text-uppercase">New COLLECTION</h3>
                <router-link :to="{ name:'collection', params:{id:'news'}}" class="btn-link text-secondary float-right">More Items
                    <b-icon icon="chevron-right"></b-icon>
                </router-link>
            </div>
            <div class="col-12 form-inline">
                <items-component v-for="item in news" v-bind:key="item.id" :device="item" class="itemColed col-3 m-auto text-center"></items-component>
            </div>
        </div>


        <div class="row border-top border-secondary mt-5 p-2 mb-5">
            <div class="col-12">
                <h3 class="d-inline-block  text-uppercase">Discount</h3>
                <router-link :to="{ name:'collection', params:{id:'discount'}}" class="btn-link text-secondary float-right">More Items
                    <b-icon icon="chevron-right"></b-icon>
                </router-link>
            </div>
            <div class="col-12 form-inline">
                <items-component v-for="item in discounts" v-bind:key="item.id" :device="item" class="itemColed col-3 m-auto text-center"></items-component>
            </div>
        </div>
    </div>
</template>

<script>
    import CollectionsComponent from "../../components/Collections";
    import ItemsComponent from "../../components/ItemsComponent";
    export default {
        name: "Welcome",
        components: {ItemsComponent, CollectionsComponent},
        data() {
            return {
                slide: 0,
                sliding: null,
                collections:[],
                featured:[],
                news:[],
                discounts:[],
                slider:[],
            }
        },
        methods: {
            onSlideStart(slide) {
                this.sliding = true
            },
            onSlideEnd(slide) {
                this.sliding = false
            },
            getFeatured(){
              axios.post('/api/featured').then((response) => {
                    this.collections = response.data.collections;
                    this.featured = response.data.featured;
                    this.news = response.data.news;
                    this.discounts = response.data.discounts;
                    this.slider = response.data.slider;

              });
            }
        },
        mounted() {
            this.getFeatured();
        }
    }
</script>
<style scoped>
    .sliderItem{
        height: 320px;
        width: 100%;
    }
</style>
