<template>
    <div class="m-auto text-center p-2 col-6">
        <image-upload class="col-12" :file="'fileDevice'" :image="defaultImg"></image-upload>

        <input type="file" id="fileDevice" accept="image/jpeg,image/png,image/jpg" hidden @change="onImageChange">

        <b-row class="m-2">
            <div class="col-4 d-inline-flex" v-for="(image , id) in uploadedImages">
                <b-icon icon="x-circle-fill" variant="danger" class="removeImage" @click="removeItem(id)"></b-icon>
                <b-img :src="image"  img-height="125" class="uploadImage m-auto" thumbnail rounded
                       alt="Upload Default"></b-img>
            </div>
        </b-row>

        <b-row class="d-inline">
            <b-form-group label="Brand" class="mb-2 mr-sm-2 mb-sm-0 p-0 col-6 d-inline-block">
                <b-input id="brand" v-model="newDevice.brand" placeholder="Example: Lenovo"></b-input>
            </b-form-group>

            <b-form-group label="Model" class="mb-2 mr-sm-2 mb-sm-0 p-0 col-6 d-inline-block">
                <b-input id="model" v-model="newDevice.model" placeholder="Example : T530 M4"></b-input>
            </b-form-group>
        </b-row>

        <b-row class="d-inline mt-2">

            <b-form-group label="Category" class="mb-2 mr-sm-2 mb-sm-0 p-0 col-6 d-inline-block">
                <b-form-select v-model="newDevice.category" :options="categories" id="category"
                               class="col-12 d-inline"></b-form-select>
            </b-form-group>

            <b-form-group class="mb-2 mr-sm-2 mb-sm-0 p-0 col-6 d-inline-block">
                {{ newDevice.used ? 'Device is used' : 'Device was not used' }}

                <b-form-checkbox switch size="lg" v-model="newDevice.used"></b-form-checkbox>
            </b-form-group>
        </b-row>

        <b-row class="d-inline mt-2">
            <b-form-group label="New Price" class="mb-2 mr-sm-2 mb-sm-0 col-6 p-0 d-inline-block">
                <b-input id="new_price" v-model="newDevice.new_price" placeholder="Price" type="number"></b-input>
            </b-form-group>


            <b-form-group label="Old Price" class="mb-2 mr-sm-2 mb-sm-0 col-6 p-0 d-inline-block">
                <b-input id="old_price" v-model="newDevice.old_price" placeholder="Old Price" type="number"></b-input>
            </b-form-group>
        </b-row>


        <b-row class="d-inline mt-2">
            <b-form-group label="Made" class="mb-2 mr-sm-2 mb-sm-0 col-6 p-0 d-inline-block">
                <b-input id="made_year" v-model="newDevice.made_year" placeholder="Enter Made Year"
                         type="number"></b-input>
            </b-form-group>

            <b-form-group label="In Stock " class="mb-2 mr-sm-2 mb-sm-0 col-6 p-0 d-inline-block">
                <b-input id="in_stock" v-model="newDevice.in_stock" class="col-10 d-inline" placeholder="In Stock"
                         type="number"></b-input>
            </b-form-group>
        </b-row>

        <div class="form-inline mt-2">
            <b-form-group class="mb-2  mb-sm-0 col-4 p-0">
                <p class="d-inline">
                    <label for="category_name_am">Description </label><img class="ml-2"
                                                                           src="https://www.countryflags.io/am/flat/16.png"
                                                                           alt="Language Flag">
                </p>
                <b-textarea id="description_am" v-model="newDevice.description_am"
                            placeholder="Description Armenian"></b-textarea>
            </b-form-group>


            <b-form-group class="mb-2  mb-sm-0 col-4 p-0">
                <p class="d-inline">
                    <label for="category_name_ru">Description </label><img class="ml-2"
                                                                           src="https://www.countryflags.io/ru/flat/16.png">
                </p>
                <b-textarea id="description_ru" v-model="newDevice.description_ru"
                            placeholder="Description Russian"></b-textarea>
            </b-form-group>

            <b-form-group class="mb-2  mb-sm-0 col-4 p-0">
                <p class="d-inline">
                    <label for="category_name_en">Description </label><img class="ml-2"
                                                                           src="https://www.countryflags.io/gb/flat/16.png">
                </p>
                <b-textarea id="description_en" v-model="newDevice.description_en"
                            placeholder="Description English"></b-textarea>
            </b-form-group>

        </div>

        <div class="form-inline mt-2">
            <b-form-group class="mb-2  mb-sm-0 col-4 p-0">
                <p class="d-inline">
                    <label for="category_name_am">Deposit </label><img class="ml-2"
                                                                           src="https://www.countryflags.io/am/flat/16.png"
                                                                           alt="Language Flag">
                </p>
                <b-textarea id="description_am" v-model="newDevice.deposit_am"
                            placeholder="Description Armenian"></b-textarea>
            </b-form-group>


            <b-form-group class="mb-2  mb-sm-0 col-4 p-0">
                <p class="d-inline">
                    <label for="category_name_ru">Deposit </label><img class="ml-2"
                                                                           src="https://www.countryflags.io/ru/flat/16.png">
                </p>
                <b-textarea id="description_ru" v-model="newDevice.deposit_ru"
                            placeholder="Description Russian"></b-textarea>
            </b-form-group>

            <b-form-group class="mb-2  mb-sm-0 col-4 p-0">
                <p class="d-inline">
                    <label for="category_name_en">Deposit </label><img class="ml-2"
                                                                           src="https://www.countryflags.io/gb/flat/16.png">
                </p>
                <b-textarea id="description_en" v-model="newDevice.deposit_en"
                            placeholder="Description English"></b-textarea>
            </b-form-group>

        </div>



        <div class="col-12 p-5">
            <h3>Parameters</h3>
            <b-button class="float-right" variant="success" @click="addParam">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                Add Parameters
            </b-button>
        </div>

        <div class="form-inline mt-2 border-secondary text-center" v-for="i in param_count">

            <b-form-group class="mb-2  mb-sm-0 col-3 p-0">
                <p class="d-inline">
                    <label for="parameter_am">Parameter </label><img class="ml-2"
                                                                     src="https://www.countryflags.io/am/flat/16.png">
                </p>
                <b-input id="parameter_am" v-model="newDevice.parameters[i-1].am"
                         placeholder="Parameter Armenian"></b-input>
            </b-form-group>

            <b-form-group class="mb-2  mb-sm-0 col-3 p-0">
                <p class="d-inline">
                    <label for="parameter_ru">Parameter </label><img class="ml-2"
                                                                     src="https://www.countryflags.io/ru/flat/16.png">
                </p>
                <b-input id="parameter_en" v-model="newDevice.parameters[i-1].ru"
                         placeholder="Parameter Russian"></b-input>
            </b-form-group>

            <b-form-group class="mb-2  mb-sm-0 col-3 p-0">
                <p class="d-inline">
                    <label for="parameter_en">Parameter </label><img class="ml-2"
                                                                     src="https://www.countryflags.io/gb/flat/16.png">
                </p>
                <b-input id="parameter_en" v-model="newDevice.parameters[i-1].en"
                         placeholder="Parameter English"></b-input>
            </b-form-group>

            <b-form-group class="mb-2  mb-sm-0 col-3 p-0">
                <p class="d-inline">
                    <label for="value">Value </label>
                </p>
                <b-input id="value" v-model="newDevice.parameters[i-1].value" placeholder="Value"></b-input>
            </b-form-group>
        </div>

        <b-button variant="success" @click="uploadImages" size="lg" class="col-6 text-center mt-5">
            <font-awesome-icon icon="save"></font-awesome-icon>
            Save
        </b-button>
    </div>
</template>

<script>
    import ImageUpload from "./ImageUpload";

    export default {
        name: "AddDevice",
        components: {ImageUpload},
        data() {
            return {
                newDevice: {
                    brand: '',
                    model: '',
                    category: 0,
                    in_stock: '',
                    new_price: '',
                    old_price: 0,
                    used: false,
                    images: [],
                    made_year: '',
                    description_am: '',
                    description_ru: '',
                    description_en: '',
                    deposit_am: 'Ստանդարտ Տեքստ',
                    deposit_ru: 'Standart text',
                    deposit_en: 'Standart text',
                    parameters: [{am: '', ru: '', en: '', value: ''}],
                },
                defaultImg: '/images/default-upload.gif',
                uploadedImages: [],
                binaryFiles: [],
                param_count: 1,
                categories: [{value: 0, text: 'Select Category', disabled: true}],
            }
        },
        methods: {
            getCategoriesList() {
                axios.post('/api/collectionList').then(response => {
                    response.data.collections.forEach(category => {
                        this.categories.push({
                            value: category.id,
                            text: category.name_am,
                            disabled: false
                        });
                    });
                })
            },
            removeItem(id) {
                this.uploadedImages.splice(id, 1);
                this.binaryFiles.splice(id, 1);
            },
            addParam() {
                this.newDevice.parameters.push({am: '', ru: '', en: '', value: ''});
                ++this.param_count;
            },
            uploadImages() {
                this.binaryFiles.forEach((image, id) => {
                    const data = new FormData();
                    data.append('image', image);
                    data.append('name', this.newDevice.model + id);
                    data.append('path', 'images/devices');

                    axios.post('/api/image/store', data).then(response => {
                        this.newDevice.images.push(response.data.image);
                        if (this.binaryFiles.length === this.newDevice.images.length) {
                            this.addDevice();
                        }
                    } ).catch((error) => {
                        this.$bvToast.toast('Please check data of image.', {
                            title: 'Image is incorrect format.',
                            autoHideDelay: 5000,
                            variant: 'danger',
                        })
                    });
                });
            },

            addDevice() {
                let message = '', variant = '';
                axios.post('/api/addDevice', this.newDevice).then(response => {
                    this.$root.$emit('addedDevices', response.data.devices);
                    this.newDevice = {
                        brand: '',
                        model: '',
                        category: 0,
                        in_stock: '',
                        new_price: '',
                        old_price: 0,
                        images: [],
                        used: false,
                        made_year: '',
                        description_am: '',
                        description_ru: '',
                        description_en: '',
                        deposit_am: 'Ստանդարտ Տեքստ',
                        deposit_ru: 'Standart text',
                        deposit_en: 'Standart text',
                        parameters: [{am: '', ru: '', en: '', value: ''}],
                    };
                    this.param_count = 1;
                    this.binaryFiles = [];
                    this.uploadedImages = [];
                    variant = 'success';
                    message = "New Device is added";
                    this.$bvToast.toast(message, {
                        title: 'New Service',
                        autoHideDelay: 5000,
                        variant: variant,
                    });
                    this.$root.$emit('getDetails');
                }).catch(() => {
                    message = 'Something is wrong please check fields';
                    variant = 'danger';
                    this.$bvToast.toast(message, {
                        title: 'New Device adding Failed',
                        autoHideDelay: 5000,
                        variant: variant,
                    })
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.uploadedImages.push(e.target.result);
                };
                reader.readAsDataURL(file);
                this.binaryFiles.push(file);
            },

        },
        created() {
            this.getCategoriesList();
        }

    }
</script>

<style scoped>
    .uploadImage {
        height: 180px;
    }

    .removeImage {
        position: absolute;
        right: 10px;
        font-size: 23px;
        top: -5px;
        background: white;
        cursor: pointer;
    }

</style>
