<template>
    <div class="m-auto text-center p-2 col-6">

        <div class="row">
            <image-upload class="col-12" :image="newService.image" :file="'fileService'"></image-upload>

            <input type="file" id="fileService" multiple accept="image/jpeg|image/png,image/jpg" hidden @change="onImageChange">


            <label for="name">Name </label>
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0 col-12 p-0">
                <b-input id="name" placeholder="Name" v-model="newService.name"></b-input>
            </b-input-group>
        </div>

        <div class="row m-1 description">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="description_am-tab" data-toggle="tab" href="#description_am" role="tab" aria-controls="description_am" aria-selected="true">Description <img class="ml-2" src="https://www.countryflags.io/am/flat/16.png"></a>
                    <a class="nav-link" id="description_ru-tab" data-toggle="tab" href="#description_ru" role="tab" aria-controls="description_ru" aria-selected="false">Description <img class="ml-2" src="https://www.countryflags.io/ru/flat/16.png"></a>
                    <a class="nav-link" id="description_en-tab" data-toggle="tab" href="#description_en" role="tab" aria-controls="description_en" aria-selected="false">Description <img class="ml-2" src="https://www.countryflags.io/gb/flat/16.png"></a>
                </div>
            </nav>
            <div class="col-12 p-0 tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="description_am" role="tabpanel" aria-labelledby="description_ru-tab">
                    <ckeditor :editor="editor" v-model="newService.description_am" :config="editorConfig"></ckeditor>

                </div>
                <div class="tab-pane fade" id="description_ru" role="tabpanel" aria-labelledby="description_ru-tab">
                    <ckeditor :editor="editor" v-model="newService.description_ru" :config="editorConfig"></ckeditor>

                </div>
                <div class="tab-pane fade" id="description_en" role="tabpanel" aria-labelledby="description_ru-tab">
                    <ckeditor :editor="editor" v-model="newService.description_en" :config="editorConfig"></ckeditor>

                </div>
            </div>
        </div>

        <b-button variant="success" class="col-12 mt-3" @click="uploadImage"><font-awesome-icon icon="plus"></font-awesome-icon> Add</b-button>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import ImageUpload from "./ImageUpload";

    export default {
        name: "AddService",
        components: {ImageUpload},
        data(){
            return{
                newService:{
                    name:'',
                    description_am:'',
                    description_ru:'',
                    description_en:'',
                    image: '/images/default-upload.gif',
                },
                editor: ClassicEditor,
                editorConfig: {}
            }
        },
        methods:{
            uploadImage(){
                const data = new FormData();
                data.append('image', this.uploaded);
                data.append('name', this.newService.name);
                data.append('path', 'images/services');

                axios.post('/api/image/store',data).then(response => {
                    this.newService.image = response.data.image;
                    this.addService();
                }).catch((error) => {
                    this.$bvToast.toast('Please check data of image.', {
                        title: 'Image is incorrect format.',
                        autoHideDelay: 5000,
                        variant: 'danger',
                    })
                });
            },
            addService(){
                let message = '',variant = '';
                axios.post('/api/addService',this.newService).then((response) => {
                    this.$root.$emit('addedServices' , response.data.services);
                    this.newService = {
                        name:'',
                        description_am:'',
                        description_ru:'',
                        description_en:'',
                        image: '/images/default-upload.gif'
                    };
                    variant = 'success';
                    message = "New Service is added";
                    this.$bvToast.toast(message, {
                        title: 'New Service',
                        autoHideDelay: 5000,
                        variant:variant,
                    })

                }).catch(() => {
                    message = 'Something is wrong please check fields';
                    variant = 'danger';
                    this.$bvToast.toast(message, {
                        title: 'New Service adding Failed',
                        autoHideDelay: 5000,
                        variant: variant,
                    })
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.newService.image = e.target.result;
                };
                reader.readAsDataURL(file);
                this.uploaded  = file;
            },
        }
    }
</script>

<style scoped>

</style>
