<template>
    <div class="mb-2 mr-sm-2 mb-sm-0 col-3 m-3 p-0 uploadSection">
        <label :for="file"  class="uploadLabel">Upload Image</label>
        <b-img :src="image" class="uploadImage m-1" thumbnail fluid rounded alt="Upload Default"></b-img>
    </div>
</template>

<script>
    export default {
        name: "ImageUpload",
        props:['image' , 'file']
    }
</script>

<style scoped>
    .uploadImage{
        width: 370px;
        height: 250px;
        transition: .4s;
    }
    .uploadSection:hover {
        filter: brightness(0.5);
        opacity: 0.7;
        cursor: pointer;
        transition: .4s;
    }
    .uploadSection:hover .uploadLabel{
        visibility: visible;
    }
    .uploadLabel{
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        color: #00000094;
        font-size: xx-large;
        font-family: fantasy;
        z-index: 98;
        visibility: hidden;
    }
</style>
